.action {
  background-image: url("../img/gift-photo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
  height: 289px;
  margin-bottom: 35px;
  padding-top: 186px;
  padding-left: 58px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet.png");
    padding-top: 71px;
    padding-left: 423px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop.png");
    padding-top: 185px;
    padding-left: 41px;
  }
}

.action__text {
  @include font-arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-white;
  text-align: center;
  width: 161px;
}

.action::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 100px;
  width: 78px;
  height: 80px;
  background-image: url("../img/icons/icon_gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  z-index: 15;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 82px;
    top: 57px;
    left: 78px;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 84px;
  }
}
