.action {
  background-color: $transparent-green;
  background-image: url("../../img/gift-photo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 289px;
  margin-bottom: 35px;
}

.action__text {
  @include font-arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-white;
}
