.button {
  @include font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: $basic-green;
  color: $basic-white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  min-height: 40px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: $basic-white-2;
    background-color: $basic-green-2;
  }
}
