.catalog {
  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  @include font-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  padding-top: 27px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.catalog__title--wrapper {
  border-bottom: 1px solid $catalog-border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__item {
  padding-bottom: 18px;
  border-bottom: 1px solid $catalog-border;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border: none;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }

  &:nth-last-child(-n+2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:nth-last-child(-n+4) {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}


.catalog__caption {
  @include font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: center;

  position: relative;
  top: 3px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin-bottom: 23px;

    position: unset;
    top: unset;
  }
}

.catalog__text {
  @include font-arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-dark-grey;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin-bottom: 87px;
  }
}

.catalog__list {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    margin-bottom: 61px;
  }
}

.button--catalog {
  box-sizing: border-box;
  background-color: $basic-grey;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    width: 248px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 40px;
  }

  &:hover {
    background-color: $catalog-border;
  }

  &:active {
    color: $basic-dark-grey-2;
    background-color: $catalog-border;
  }
}

.catalog__item-more {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  // margin-bottom: 2px;
  // margin-bottom: 6px;
  // border-bottom: 1px solid $catalog-border;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    width: 324px;
    height: 431px;
    border: 2px solid $basic-grey;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 430px;
    margin-bottom: 0;
  }
}

.catalog__item-more--wrapper {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
  }
}

.button-more {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin-bottom: 21px;
  cursor: pointer;
  position: relative;
  border: none;
  right: 2px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;

    right: unset;
  }
}

.button-more::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: $catalog-button-more;

  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.button-more::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  top: 0;
  left: 50%;
  background-color: $catalog-button-more;

  @media (min-width: $tablet-width) {
    height: 60px;
  }
}
