.cooperation {
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    top: 50px;
    width: 570px;
    height: 201px;
    background-color: $basic-white;
    box-sizing: border-box;
    padding-left: 76px;
    padding-right: 89px;
    padding-top: 66px;
    padding-bottom: 59px;
  }
}

.cooperation--container {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.cooperation__title {
  @include font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 21px;
  }
}

.cooperation__adress {
  @include font-arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    display: grid;
    grid-template-rows: min-content min-content;
    text-align: right;
    row-gap: 12px;
  }
}

.copyright__text {
  @include font-arial;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
}
