.cooperation__container {
  padding-top: 28px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-top: 68px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    top: 92px;
    width: 570px;
    height: 201px;
    background-color: $basic-white;
    box-sizing: border-box;
    padding-left: 76px;
    padding-right: 89px;
    padding-top: 66px;
    padding-bottom: 59px;
  }
}

.cooperation__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.cooperation__title {
  @include font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 23px;

    margin-right: unset;
  }

  @media (min-width: $desktop-width) {
    line-height: 24px;
  }
}

.cooperation__adress {
  @include font-arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    display: grid;
    grid-template-rows: min-content min-content;
    text-align: right;
    row-gap: 12px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    row-gap: 18px;
  }
}

.copyright__text {
  @include font-arial;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
}

.cooperation--inner {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}
