.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.copyright__text {
  color: $social-basic;
  display: flex;
  align-items: center;
}

.copyright__text:hover {
  color: $basic-green;
}

.copyright__text:active {
  opacity: 0.5;
}

.copyright__name {
  margin-right: 138px;
  color: $basic-dark-grey;
  display: inline-block;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
    position: relative;
    // margin-bottom: 10px;
    // top: -40px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 2px;
  }
}

.copyright__logo {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    // top: -40px;
  }
}
