.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.copyright__text {
  color: $social-basic;
}

.copyright__text:hover {
  color: $basic-green;
}

.copyright__text:active {
  opacity: 0.5;
}

.copyright__text {
  display: flex;
  align-items: center;
}

.copyright__name {
  margin-right: 120px;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.copyright__logo {
  padding-bottom: 10px;
}
