.form__title {
  @include font-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form-text {
  @include font-oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 39px;
  box-sizing: border-box;
  width: 230px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
  }
}

.form__fieldset {
  border: none;
}

.form__fieldset--info {
  margin-bottom: 49px;
}

.form__fieldset--goal {
  margin-bottom: 45px;
}

.form__fieldset--contacts {
  margin-bottom: 23px;
}

.form__fieldset--comment {
  margin-bottom: 23px;
}

.form__fieldset--other {
  margin-bottom: 34px;
}

.form__list--other {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 61px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
  }
}

.form__submit-container {
  display: grid;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 282px 282px;
    column-gap: 61px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 568px 282px;
    column-gap: 81px;
  }
}

.form__text {
  @include font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
  text-transform: uppercase;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text--dark {
  color: $product-card-grey;
}

.form__text--black {
  color: $basic-black;
}

.form__textarea {
  padding: 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__legend {
  @include font-oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__subtext {
  @include font-arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-black;
  text-transform: none;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.form__item {
  width: 280px;
  height: 46px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: stretch;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.form__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 569px 569px;
    column-gap: 80px;
  }
}

.form__label {
  margin-right: 10px;
}

.form__input {
  padding: 13px 15px;
  flex-grow: 1;
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__radio {
  margin-bottom: 12px;
}

.form__legend--contacts {
  margin-bottom: 35px;
}

.form__legend--comment {
  margin-bottom: 38px;
}

.form__legend--other {
  margin-bottom: 34px;
}

.form__checkbox {
  margin-bottom: 20px;
}

.form__top-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 568px 568px;
    column-gap: 80px;
  }
}
