.form__title {
  @include font-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  margin-bottom: 37px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
    margin-bottom: 54px;
  }
}

.form__fieldset {
  border: none;
}

.form__fieldset--info {
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 0;
  }
}

.form__fieldset--goal {
  box-sizing: border-box;
  height: 160px;
  padding-top: 28px;
  padding-bottom: 26px;
  border: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    width: 628px;
    height: 196px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.form__fieldset--contacts {
  padding-top: 35px;
  margin-bottom: 23px;
}

.form__fieldset--comment {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.form__fieldset--other {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.form__list--other {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 61px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
  }
}

.form__submit-container {
  display: grid;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 282px 282px;
    column-gap: 61px;
    text-align: left;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 568px 282px;
    column-gap: 81px;
  }
}

.form__description {
  @include font-oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 39px;
  box-sizing: border-box;
  width: 230px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-bottom: 66px;
  }
}

.form__text {
  @include font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text--dark {
  color: $product-card-grey;
}

.form__text--black {
  color: $basic-black;
}

.form__textarea {
  padding: 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__legend {
  @include font-oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__subtext {
  @include font-arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-black;
  text-transform: none;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.form__item {
  width: 280px;
  height: 46px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: stretch;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.form__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 569px 569px;
    column-gap: 80px;
  }
}

.form__label {
  margin-right: 10px;
}

.form__input {
  padding: 13px 15px;
  flex-grow: 1;
  border-color: $input-color;

  outline: 0;
  outline-offset: 0;

  @media (min-width: $tablet-width) {
    padding: 11px 19px;
  }

  &:hover {
    border-color: $true-story-border;
  }

  &:active {
    border-color: $basic-dark-grey;
  }

  &:focus {
    border-color: $basic-dark-grey;
  }

  &:invalid {
    border-color: $input-error-color;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__legend--contacts {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__legend--comment {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.form__legend--other {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__checkbox {
  margin-bottom: 20px;
}

.form__top-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 568px 568px;
    column-gap: 80px;
    grid-template-rows: 200px;
    margin-bottom: 69px;
  }
}

.form__radio-input {
  margin-bottom: 27px;
  margin-right: 15px;
}

.form__item--other {
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__item--radio {
  margin-bottom: 22px;
}

.form__item--checkbox {
  margin-bottom: 22px;
}

.form__item-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -2px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid $true-story-border;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
  }
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -40px;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: -50px;
    width: 24px;
    height: 19px;
  }
}

.form__radio-input + label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid $true-story-border;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
    top: -8px;
  }
}

.form__radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -35px;
  width: 13px;
  height: 13px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: -47px;
  }
}

.form__input--mail {
  background-image: url("../img/icons/mail.svg");
  background-repeat: no-repeat;
  background-position: 184px center;

  @media (min-width: $tablet-width) {
    background-position: 514px center;
  }

  @media (min-width: $desktop-width) {
    background-position: 449px center;
  }
}

.form__input--phone {
  background-image: url("../img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: 171px center;

  @media (min-width: $tablet-width) {
    background-position: 498px center;
  }

  @media (min-width: $desktop-width) {
    background-position: 436px center;
  }
}

.form__input--activity:disabled + label {
  opacity: 0.2;
}
