.form {
  @media (min-width: $tablet-width) {
    // padding-left: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

.form__title {
  @include font-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  margin-bottom: 37px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 30px;
    margin-bottom: 54px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 38px;
  }
}

.form__fieldset {
  border: none;
}

.form__fieldset--info {
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 0;
  }
}

.form__fieldset--goal {
  box-sizing: border-box;
  height: 158px;
  padding-top: 28px;
  border: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    height: 200px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 200px;
  }
}

.form__list--goal {
  @media (min-width: $tablet-width) {
    border: 1px solid $programs-border;
    padding-left: 30px;
    height: 196px;
    box-sizing: border-box;
    width: 628px;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    padding-top: 30px;
  }
}

.form__fieldset--contacts {
  margin-bottom: 13px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    padding-left: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__fieldset--contacts::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: $basic-green;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 46px;
    width: 100%;
    left: 0;
  }
}

.form__fieldset--comment {
  margin-bottom: 23px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
    padding-left: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__fieldset--comment::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: $basic-green;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 23px;
    left: 0;
    width: 100%;
  }
}

.form__fieldset--other {
  margin-bottom: 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    padding-left: 78px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    padding-left: 0;
  }
}

.form__fieldset--other::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: $basic-green;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 19px;
    left: 0;
    width: 100%;
  }
}

.form__list--other {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 61px;
    row-gap: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
  }
}

.form__submit-container {
  display: grid;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 282px 282px;
    column-gap: 66px;
    text-align: left;
    margin-bottom: 50px;
    align-items: center;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 568px 282px;
    column-gap: 80px;
    align-items: baseline;
    padding-left: 0;
  }
}

.form__description {
  @include font-oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 39px;
  box-sizing: border-box;
  width: 230px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 380px;
    margin-bottom: 66px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__text {
  @include font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text--dark {
  color: $product-card-grey;
}

.form__text--black {
  color: $basic-black;
}

.form__textarea {
  padding: 10px;
  box-sizing: border-box;
  width: 280px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: 630px;
    height: 175px;
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__legend {
  @include font-oswald;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__subtext {
  @include font-arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-black;
  text-transform: none;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.form__item {
  width: 280px;
  height: 46px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: stretch;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.form__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 569px 569px;
    column-gap: 80px;
  }
}

.form__label {
  margin-right: 15px;
}

.form__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-grow: 1;
  position: relative;
}

.form__input {
  box-sizing: border-box;
  padding: 13px 14px;
  flex-grow: 1;
  border-color: $input-color;
  border-style: solid;
  outline: 0;
  outline-offset: 0;

  @media (min-width: $tablet-width) {
    padding: 11px 19px;
  }

  &:hover {
    border-color: $true-story-border;
  }

  &:active {
    border-color: $basic-dark-grey;
  }

  &:focus {
    border-color: $basic-dark-grey;
  }

  &:invalid {
    border-color: $input-error-color;
  }
}

.button--form {
  @media (min-width: $tablet-width) {
    width: 282px;
    height: 52px;
    font-size: 20px;
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__legend--contacts {
  padding-top: 26px;
  margin-bottom: 34px;
  box-sizing: border-box;
  width: 201px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -40px;
    padding-left: 40px;
    margin-bottom: 76px;
    width: 590px;
  }
}

.form__legend--comment {
  margin-bottom: 35px;
  box-sizing: border-box;
  width: 143px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -40px;
    padding-left: 40px;
    margin-bottom: 76px;
    width: 256px;
  }
}

.form__legend--other {
  margin-bottom: 36px;
  box-sizing: border-box;
  width: 164px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -40px;
    padding-left: 40px;
    margin-bottom: 57px;
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.form__checkbox {
  margin-bottom: 20px;
}

.form__top-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 568px 568px;
    column-gap: 80px;
    grid-template-rows: 200px;
    margin-bottom: 44px;
  }
}

.form__radio-input {
  margin-bottom: 27px;
  margin-right: 15px;
}

.form__item--other {
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__item--radio {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item--checkbox {
  margin-bottom: 25px;
}

.form__item-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -2px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid $true-story-border;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
  }
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -40px;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: -50px;
    width: 24px;
    height: 19px;
  }
}

.form__radio-input + label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid $true-story-border;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
    top: -8px;
  }
}

.form__radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -35px;
  width: 13px;
  height: 13px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: -47px;
  }
}

.form__input--activity:disabled + label {
  opacity: 0.2;
}

.form__top-wrapper--container--small {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 707px;
  }

  @media (min-width: $desktop-width) {
    width: unset;
    margin: unset;
  }
}

.form__top-wrapper--container--big {
  @media (min-width: $tablet-width) {
    padding-left: 80px;
  }
  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-left: 0;
  }
}

.form__input-svg {
  position: absolute;
  right: 15px;
}

.form__input:focus + .form__input-svg .form__input-svg--stroke {
  stroke: $basic-green;
}

.form__input:invalid + .form__input-svg .form__input-svg--stroke {
  stroke: $input-error-color;
}

.form__input:focus + .form__input-svg .form__input-svg--fill {
  fill: $basic-green;
}

.form__input:invalid + .form__input-svg .form__input-svg--fill {
  fill: $input-error-color;
}
