.other-products__card {
  box-sizing: border-box;
  width: 282px;
  height: 98px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 632px;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    padding-bottom: 52px;
    width: 894px;
    height: 40px;
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
  }
}

.other-products__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $catalog-border;
  padding-top: 13px;
}

.other-products__price-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    margin-right: 50px;
  }
}

.other-products__title {
  @include font-oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
  padding-bottom: 36px;
  border-bottom: 1px solid $catalog-border;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 81px;
  }
}

.other-products__name {
  @include font-oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $product-card-grey;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: unset;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 250px;
    margin-right: 80px;
  }
}

.other-products__weight,
.other-products__price {
  @include font-arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $basic-dark-grey;
}

.other-products__weight {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    margin-right: 75px;
  }
}

.other-products__price {
  @media (min-width: $desktop-width) {
    width: 40px;
  }
}

.other-products__list {
  margin-bottom: 55px;
}

.other-products__price-list {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: unset;
  }
}

.other-products__button {
  @media (min-width: $tablet-width) {
    width: 632px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    height: 40px;
  }
}

.other-products__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
  }
}
