.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.page__body * {
  margin: 0;
  padding: 0;
}

.page__body a {
  text-decoration: none;
}

.page__body img {
  max-width: 100%;
  height: auto;
}

.page__body ul,
.page__body ol {
  list-style: none;
}
