.page-footer {
  background-color: $basic-grey;
}

.page-footer__footer {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 150px 130px 160px;
    column-gap: 130px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 400px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 32px;
}
