.page-header {
  padding: 10px 20px;
  padding-bottom: 13px;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.page-header__wrapper {
  border-bottom: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header__logo {
  width: 42px;
  height: 42px;
  margin-right: 57px;
  background-image: url("../img/logo/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    background-image: url("../img/logo/logo-tablet.svg");
    margin-right: 92px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    background-image: url("../img/logo/logo-desktop.svg");
    margin-right: 540px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__text-logo {
  width: 135px;
  height: 40px;
  background-image: url("../img/logo/text-logo-mobile-header.svg");
  background-repeat: no-repeat;
  background-position: 0 12px;
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
