.page-header {
  padding: 10px 20px;
  padding-bottom: 17px;
  display: flex;
}

.page-header__logo {
  width: 42px;
  height: 42px;
  margin-right: 57px;
  background-image: url("../img/logo/logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    background-image: url("../img/logo/logo-tablet.svg");
    margin-right: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    background-image: url("../img/logo/logo-desktop.svg");
    margin-right: 540px;
  }
}

.page-header__text-logo {
  width: 135px;
  height: 40px;
  background-image: url("../img/logo/text-logo-mobile-header.svg");
  background-repeat: no-repeat;
  background-position: 0 10px;
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
