.product-card {
  box-sizing: border-box;
  width: 320px;
  height: 190px;
  padding-top: 11px;
  padding-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $catalog-border;

  @media (min-width: $tablet-width) {
    border: none;
    width: 324px;
    height: 511px;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
    padding-right: 36px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 511px;
    padding-left: 35px;
    padding-right: 30px;
  }
}

.product-card::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 81px;
    background-color: $basic-grey;
    z-index: -1;
  }
}

.product-card__picture {
  order: 1;
  width: 140px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: unset;
  }
}

.product-card__info {
  order: 2;
  width: 142px;

  @media (min-width: $tablet-width) {
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-card__button {
  order: 3;
}

.product-card__title {
  @include font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $product-card-grey;
  text-transform: uppercase;
  width: 76px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 152px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product-card__item {
  display: grid;
  grid-template-columns: 40px 40px;
  column-gap: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 48px 58px;
    column-gap: 136px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.product-card__number {
  justify-self: right;
}

.product-card__property,
.product-card__number {
  @include font-arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.catalog__product-card {
  margin-bottom: 19px;
}
