.page-main__programs {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.programs {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item--losing::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  left: 22px;
  top: 21px;
  background-image: url("../img/icons/cat_back.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    left: 446px;
    top: 79px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    left: 52px;
    top: 41px;
  }
}

.programs__item--rising::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 50px;
  left: 13px;
  top: 24px;
  background-image: url("../img/icons/cat_forward.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    left: 412px;
    top: 91px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    left: 33px;
    top: 47px;
  }
}


.programs__item {
  background-color: $basic-grey;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 18px;
  margin-bottom: 20px;
  width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 55px;
    padding-right: 316px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 55px;
    padding-right: 51px;
  }
}

.programs__item-title {
  @include font-oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  margin-left: 71px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    margin-left: unset;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    margin-left: 162px;
  }
}

.programs__item-text {
  @include font-arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
  margin-bottom: 18px;
  border-bottom: 1px solid $programs-border;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    border: none;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
    width: 467px;
  }
}

.programs__link {
  @include font-oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $basic-black;
  text-transform: uppercase;
  padding-right: 60px;
  background-image: url("../img/icons/arrow-black-right.svg");
  background-repeat: no-repeat;
  background-position: 100px center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    background-position: 133px center;
  }

  &:hover {
    background-image: url("../img/icons/arrow-black-right-big.svg");
  }

  &:active {
    opacity: 0.3;
  }
}
