.promo-block {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: unset;
    padding-bottom: 458px;
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-bottom: 260px;
  }
}

.promo-block--container {
  @media (min-width: $tablet-width) {
    width: 707px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.promo-block__background {
  background-color: $basic-green;
  background-image: url("../img/promo.png");
  background-repeat: no-repeat;
  background-position: top center;
  box-sizing: border-box;
  width: 320px;
  min-height: 302px;
  padding-top: 27px;
  margin-bottom: 138px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-color: unset;
    background-image: unset;
    color: $basic-black;
    width: unset;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.promo-block__image {
  position: absolute;
  top: 165px;
  left: 20px;
  // width: 280px;
  // height: 270px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    z-index: -2;
    // width: 709px;
    // height: 609px;
    left: -95px;
    top: 225px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
    left: 365px;
    // width: 552px;
    // height: 499px;
    z-index: 2;
  }
}

.page-main__promo-block {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.promo-block__container-background {
  background-color: $transparent-green;
  border: 1px solid $basic-black;
}

.promo-block__title {
  @include font-oswald;
  color: $basic-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    padding-top: 60px;
  }
}

.promo-block__text {
  @include font-oswald;
  color: $basic-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
  }
}

.button--promo-block {
  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: -45px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 5px;
  }
}
