.social {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.social__button:hover .social__svg-path {
  fill: $basic-green;
}

.social__button:hover .social__svg-path--fb {
  stroke: $basic-green;
}

.social__button:active {
  opacity: 0.5;
}
