.social {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid $programs-border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.social__button {
  color: $social-basic;
}

.social__button:hover {
  color: $basic-green;
}

.social__button:active {
  opacity: 0.5;
}

.social__svg--vk {
  padding-top: 3px;
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__svg--insta {
  padding-top: 3px;
}

// .social__svg--fb {

// }
