.true-story {
  padding-top: 27px;
  padding-left: 20px;
  padding-bottom: 25px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background-color: unset;
    position: relative;
  }
}

.true-story::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 450px;
    // top: 619px;
    background-color: $background-grey;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 180px;
    // top: 194px;
    background-color: $background-grey;
    z-index: -1;
  }
}

.true-story__item {
  background-image: url("../img/true-story/weight-back-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/true-story/weight-back-tablet.svg");
  }
}

.true-story__title {
  @include font-oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 180px;
  }
}

.true-story__text {
  @include font-arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 436px;
  }
}

.true-story__facts {
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 31px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px;
    column-gap: 42px;
  }
}

.true-story__number {
  @include font-oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
  width: 124px;
  height: 56px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}

.true-story__description {
  @include font-arial;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $basic-dark-grey;
  width: 60px;
  text-align: center;
  padding-left: 32px;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    width: 130px;
    padding-left: 18px;
    margin-top: -9px;
    font-size: 14px;
    line-height: 14px;
  }
}

.true-story__price {
  @include font-oswald;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  margin-bottom: 42px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    // justify-self: end;
    margin-left: auto;
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
    grid-template-rows: min-content;
    grid-template-columns: 180px 160px;
    column-gap: 60px;
    justify-items: start;
  }
}

.true-story__photos-list {
  margin-bottom: 23px;
}

.slider__toggle {
  @include font-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
}

.true-story__numbers {
  @media (min-width: $tablet-width) {
    display: flex;
    // grid-template-columns: 366px 1fr;
    // column-gap: auto;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 366px;
    row-gap: 55px;
  }
}

.true-story__slider {
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 50px;
    right: 0;
  }
}
