$basic-white: #ffffff;
$basic-white-2: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$transparent-green: rgba(104, 183, 56, 0.85);
$basic-grey: #f2f2f2;
$basic-dark-grey: #444444;
$basic-dark-grey-2: rgba(68, 68, 68, 0.3);
$background-grey: #eaeaea;
$product-card-grey: #222222;
$nav-mobile-border: #e6e6e6;
$programs-border: #d9d9d9;
$true-story-border: #cdcdcd;
$catalog-button-more: #d3d3d3;
$catalog-border: #ebebeb;
$input-color: #e7e7e7;
$input-error-color: #ff8282;
